@charset "UTF-8";

/*
     em HTML é id = em CSS é #
     em HTML é class = em CSS .
*/
body{
    background-color: rgb(84, 150, 150);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgba(11, 17, 14, 0.767);
}

h1#principal{
    text-align: center;
    background-color:rgba(185, 192, 192, 0.603);
}

h2{
    color: rgb(185, 192, 192);
}

.basico{
color: royalblue;    
}

.intermediario{
color: floralwhite;
}

.avancado{
color: bisque;
}